body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
}

.qr {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    height: 225px;
    width: 225px;
    border-radius: 5%;
}
