body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 425px;
    width: 275px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.qr {
    position: absolute;
    top: 39.5%;
    left: 50%;
    transform: translate(-50%, -40%);
    height: 250px;
    width: 250px;
    border-radius: 4%;
}

